version: "3"
services:
  gbhacker_scraper:
    build:
      context: .
      dockerfile: Dockerfile
    image: rbtn/gbhacker-scraper:latest
    environment:
      # ---- Elasticsearch ----
      ES_BASE_URL: "https://292cbfh3r39t4jfdzd5stm212ifz-es-cti.rabitanoor.com"   # or http://elasticsearch:9200 if using a compose ES
      ES_INDEX: "airball_updates_gbhacker_cve"
      ES_USERNAME: "elastic"
      ES_PASSWORD: "6jCp0Wv87csF4s68sYgwgqDZETZxum8CHgaTEck75E2O3L02"
      ES_VERIFY: "false"      # <- per your request
      ES_BULK_CHUNK: "500"
